genome_assembly//ecoli-pacbio-60/correction/1-overlapper/blocks/000001.input.dat
genome_assembly//ecoli-pacbio-60/correction/1-overlapper/blocks/000001.input.fasta
genome_assembly//ecoli-pacbio/correction/2-correction/results/0001.cns
genome_assembly//ecoli_filtered_0.60.fastq
genome_assembly//pacbio.fastq
genome_assembly//xab
RNA_seq/CSHLProgForBio/.git/objects/pack/pack-89e73b4ee305d0902b93aac2435c57465cefbbfb.pack
